<div class="flex justify-center mt-60">
    <div class="flex flex-col gap-4 bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4">Upload</h1>

        <form [formGroup]="uploadForm">
            <div class="flex flex-col gap-4">
                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-pen-to-square"></i>
                    </p-inputgroup-addon>
                    <input pInputText formControlName="title" placeholder="Title" maxlength="30" />
                </p-inputgroup>

                <p-iftalabel>
                    <textarea pTextarea formControlName="description" rows="4" cols="30" style="resize: none"
                        class="md:w-80" maxlength="300"></textarea>
                    <label>Description</label>
                </p-iftalabel>

                <p-multiselect [options]="categories" formControlName="selectedCategories"
                    placeholder="Select categories" optionLabel="name" display="chip" styleClass="w-max md:w-80" />

                <p-fileUpload mode="basic" (onSelect)="onSelect($event)" (onClear)="onClear()" [customUpload]="true"
                    chooseLabel="Select file" maxFileSize="20971520">
                </p-fileUpload>

                <div class="flex justify-end">
                    <p-button (onClick)="onUpload()" [disabled]="uploadForm.invalid" label="Upload" icon="pi pi-check"
                        iconPos="right" severity="secondary" />
                </div>
            </div>
        </form>
    </div>
</div>