<div class="flex justify-center mt-60">
    <div class="bg-white p-8 rounded-lg shadow-md w-5xl">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4">Admin</h1>

        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Users</p-tab>
                <p-tab value="1">Categories</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <p-table [value]="users">
                        <ng-template #header let-columns>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-user>
                            <tr>
                                <td>{{user.firstName + " " + user.lastName }}</td>
                                <td>{{user.username }}</td>
                                <td>{{user.email }}</td>
                                <td>{{ user.roles.join(', ') | titlecase }}</td>
                                <td>
                                    <div class="flex gap-4">
                                        @if(!user['roles'].includes('ADMIN')) {
                                        <span (click)="showUpdateUserRolesDialog(user.id)"
                                            class=" pi pi-users cursor-pointer" style="font-size: 1.2rem"></span>
                                        <span (click)="confirmDeleteUser($event, user.id)"
                                            class=" pi pi-user-minus cursor-pointer" style="font-size: 1.2rem"></span>}
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p-dialog header="Update user roles" [modal]="true" [(visible)]="isUpdateUserRolesDialogVisible"
                        [style]="{ width: '25rem' }">
                        <div class="flex flex-col gap-4">
                            <div *ngFor="let role of roles" class="flex items-center">
                                <p-checkbox [disabled]="role === Role.USER" [inputId]="role" name="group" [value]="role"
                                    [(ngModel)]="selectedRoles" />
                                <label [for]="role" class="ml-2"> {{ role | titlecase }} </label>
                            </div>

                            <div class="flex flex-row gap-4 self-end">
                                <p-button (onClick)="closeDialog()" label="Cancel" icon="pi pi-times" iconPos="right"
                                    severity="secondary" />
                                <p-button (onClick)="onUpdateUserRoles()" label="Update" icon="pi pi-check"
                                    iconPos="right" severity="secondary" />
                            </div>
                        </div>
                    </p-dialog>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <p-listbox [options]="categories" optionValue="id" emptyMessage="No categories available"
                        emptyFilterMessage="No categories found" highlightOnSelect="false" [filter]="true"
                        filterBy="name" styleClass="w-xs category-listbox"> <ng-template let-category pTemplate="item">
                            <div class="flex flex-row justify-between w-full">
                                <span class="content-center">{{ category.name }}</span>

                                <div class="flex gap-2">
                                    <p-button (onClick)="showUpdateDialog(category)" icon="pi pi-pen-to-square"
                                        severity="secondary" />
                                    <p-button (onClick)="onDeleteCategory(category.id)" icon="pi pi-trash"
                                        severity="secondary" />
                                </div>
                            </div>
                        </ng-template>
                    </p-listbox>

                    <p-dialog header="Update category" [modal]="true" [(visible)]="isUpdateDialogVisible"
                        [style]="{ width: '25rem' }">
                        <div class="flex flex-col gap-4">
                            <p-inputgroup>
                                <p-inputgroup-addon>
                                    <i class="pi pi-folder"></i>
                                </p-inputgroup-addon>
                                <input pInputText maxlength="20" [(ngModel)]="categoryName" placeholder="Category" />
                            </p-inputgroup>

                            <div class="flex flex-row gap-4 self-end">
                                <p-button (onClick)="closeDialog()" label="Cancel" icon="pi pi-times" iconPos="right"
                                    severity="secondary" />
                                <p-button (onClick)="onUpdateCategory()"
                                    [disabled]="!categoryName || categoryName === ''" label="Update" icon="pi pi-check"
                                    iconPos="right" severity="secondary" />
                            </div>
                        </div>
                    </p-dialog>

                    <div class="flex justify-end">
                        <p-button (onClick)="showCreateDialog()" label="Create" icon="pi pi-check" iconPos="right"
                            severity="secondary" />

                        <p-dialog header="Create category" [modal]="true" [(visible)]="isCreateDialogVisible"
                            [style]="{ width: '25rem' }">
                            <div class="flex flex-col gap-4">
                                <p-inputgroup>
                                    <p-inputgroup-addon>
                                        <i class="pi pi-folder"></i>
                                    </p-inputgroup-addon>
                                    <input pInputText maxlength="20" [(ngModel)]="categoryName"
                                        placeholder="Category" />
                                </p-inputgroup>

                                <div class="flex flex-row gap-4 self-end">
                                    <p-button (onClick)="closeDialog()" label="Cancel" icon="pi pi-times"
                                        iconPos="right" severity="secondary" />
                                    <p-button (onClick)="onCreateCategory()"
                                        [disabled]="!categoryName || categoryName.trim() === ''" label="Create"
                                        icon="pi pi-check" iconPos="right" severity="secondary" />
                                </div>
                            </div>
                        </p-dialog>
                    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>