<div class="flex justify-center mt-60">
    <div class="bg-white p-8 rounded-lg shadow-md w-5xl">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4">Admin</h1>

        <p-tabs value="0">
            <p-tablist>
                <p-tab value="0">Users</p-tab>
                <p-tab value="1">Categories</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    <p-table [value]="users">
                        <ng-template #header let-columns>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Action</th>
                            </tr>
                        </ng-template>
                        <ng-template #body let-user>
                            <tr>
                                <td>{{user.firstName + " " + user.lastName }}</td>
                                <td>{{user.username }}</td>
                                <td>{{user.email }}</td>
                                <td>{{ user.roles.join(', ') | titlecase }}</td>
                                <td>
                                    @if(!user['roles'].includes('ADMIN')) {
                                    <span (click)="confirmDeleteUser($event, user.id)"
                                        class=" pi pi-user-minus cursor-pointer" style="font-size: 1.2rem"></span>}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabpanel>
                <p-tabpanel value="1">
                    <p class="m-0">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                        explicabo.
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur magni
                        dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non
                        numquam eius
                        modi.
                    </p>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>