<div class="flex justify-center mt-60">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold text-gray-800 mb-4">Admin</h1>
        <p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header let-columns>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template #body let-user>
                <tr>
                    <td>{{user.firstName + " " + user.lastName }}</td>
                    <td>{{user.username }}</td>
                    <td>{{user.email }}</td>
                    <td>{{ user.roles.join(', ') | titlecase }}</td>
                    <td>
                        @if(!user['roles'].includes('ADMIN')) {
                        <span (click)="confirmDeleteUser($event, user.id)" class=" pi pi-user-minus cursor-pointer"
                            style="font-size: 1.2rem"></span>}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>